.cta {
  margin-bottom: 20rem;
  padding: 10rem;
  border-radius: 6rem;
  background: url('./../img/cta-bg.webp'), lightgray 0px -23.85rem / 100% 170.911% no-repeat;
  background-color: #fff;
  box-shadow: 0px 0px 3.32rem .3rem rgba(0, 0, 0, 0.06);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  @include mobile {
    padding: 0;
    padding-top: 4rem;
    padding-bottom: 5rem;
    background-image: url('./../img/cta-bg-mob.webp');
    border-radius: 4rem;
    margin-bottom: 10rem;
  }

  &__title {
    margin: 0;
    margin-bottom: 4rem;
    max-width: 65rem;
    color: #000;
    font-family: "Forum";
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;

    @include mobile {
      font-size: 2rem;
      max-width: 32.1rem;
    }
  }

  &__form {

    .form__label {
      @include mobile {
        width: 100%;
      }
    }

    .form__input {
      width: 38rem;

      @include mobile {
        width: 100%;
        border: 1px solid #BABABA;
        background: rgba(170, 170, 170, 0.10);
      }
    }
  }
}