.ham-hero {
  background-image: url('./../img/ham/hero-bg.webp');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  @include mobile {
    padding-top: 34.2rem;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.40);
  }


  .complex-hero__subtitle {
    @include mobile {
      font-size: 3.2rem;
      max-width: unset;
    }
  }

  .complex-hero__title {
    @include mobile {
      font-size: 4.2rem;
      line-height: 124.2%;
    }
  }
}