.neva-hero {
  background-image: url('./../img/neva/neva-bg.webp');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.40);
  }
}