.neva-ben {
  position: relative;
  z-index: 5;
  padding-top: 20rem;
  padding-bottom: 18rem;

  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  @include mobile {
    padding-top: 9rem;
    padding-bottom: 4rem;
  }

  &__title {
    margin-bottom: 4rem;

    @include mobile {
      font-size: 2rem;
      line-height: 174.2%;
    }

    span {
      display: block;
      padding-left: 8.8rem;
      font-size: 5.4rem;
      line-height: 124.2%;

      @include mobile {
        font-size: 2.6rem;
        padding-left: 6rem;
      }
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 34.5rem);

    @include mobile {
      grid-template-columns: 1fr;
      grid-template-rows: unset;
    }
  }

  &__item {
    &--long {
      grid-column: 2 span;

      @include mobile {
        grid-column: 1;
      }
    }

    @include mobile {
      height: 20.3rem;
    }
  }
}

.nb-item {
  position: relative;
  padding-bottom: 1rem;

  &--wh {

    padding-top: 8.5rem;
    padding-left: 7rem;
    padding-right: 5rem;

    @include mobile {
      padding-top: 4rem;
      padding-left: 6rem;
      padding-right: 1rem;
    }

    .nb-item__title {
      padding-bottom: 2rem;
      margin-bottom: 2.5rem;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 10rem;
        height: .1rem;
        background-color: #000;
      }
    }
  }

  &__title {
    margin: 0;
    position: relative;
    z-index: 2;
    margin: 0;
    color: #0B0B0B;
    font-family: "Inter";
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__desc {
    margin: 0;
    max-width: 23.6rem;
    position: relative;
    z-index: 2;
    margin: 0;
    color: #000;
    font-family: "Inter";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  &:nth-child(1) {
    padding-left: 5.4rem;
    padding-top: 12.3rem;

    @include mobile {
      padding-top: 2.8rem;
      padding-left: 6rem;

      padding-bottom: 1rem;
    }

    .nb-item__title {
      margin: 0;
      color: #FFF;
      font-size: 4rem;

      @include mobile {
        font-size: 3.6rem;
      }

      span {
        font-size: 7.6rem;
        font-weight: 500;

        @include mobile {
          font-size: 7rem;
        }
      }
    }

    .nb-item__desc {
      color: #fff;
    }
  }

  &:nth-child(2) {
    padding-top: 13.5rem;
    padding-left: 4rem;
    padding-right: 2rem;

    @include mobile {
      padding-top: 4rem;
      padding-left: 6rem;
      padding-right: 1rem;
    }
  }

  &:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      order: 1;
    }

    .nb-item__title {
      color: #FFF;
      text-shadow: 0 .8rem 1.17rem rgba(0, 0, 0, 0.54);
      font-family: "Vetrino";
      font-size: 3.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: 124.2%;
      text-transform: uppercase;
    }
  }

  &:nth-child(6) {
    @include mobile {
      order: 4;
    }
  }

  &:nth-child(5) {
    @include mobile {
      display: none;
    }
  }


  &__img {
    position: absolute;
    inset: 0;
    background-color: #000;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}