.partners {
  padding-bottom: 20rem;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 10rem;
    // background: #FFF;
    backdrop-filter: blur(3.0299999237060547rem);
  }

  @include mobile {
    padding-bottom: 9rem;
  }

  &__title {
    position: relative;
    z-index: 5;
    padding: 5.5rem 0 3.4rem;

    margin-bottom: 2rem;

    @include mobile {
      padding: 0;
      margin-bottom: 4rem;
    }
  }

  &__item {
    position: relative;
    overflow: hidden;
    height: 12.3rem;
    padding: 2.6rem 3.2rem;
    background-color: #D3BC80;
    border-right: 0.05rem solid rgba(255, 255, 255, 0.40);
    border-left: 0.05rem solid rgba(255, 255, 255, 0.40);

    &:nth-child(6) {
      display: none;
    }

    @include mobile {
      height: 6rem;
      padding: 1rem;

      &:nth-child(6) {
        display: block;
      }
    }

    svg {
      position: relative;
      z-index: 5;
      width: 100%;
      height: 100%;
      fill: none;
      stroke: #fff;
      object-fit: cover;

      @include mobile {
        fill: #fff;
        stroke: none;
      }
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: #fff;
      transform: translateY(110%);
      transition: transform .3s ease-out;
    }

    @include hover {
      &::before {
        transform: translateY(0);
      }

      svg {
        fill: #D3BC80;
      }
    }
  }
}




.items-wrap {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;

  &:not(:last-child) {
    border-bottom: .1rem solid #fff;
  }

  @include mobile {
    padding: 0 3rem;

    &:nth-child(3) {
      display: none;
    }
  }
}



.items {
  flex-shrink: 0;
  display: flex;
  min-width: 100%;

  @include mobile {
    &:not(:nth-child(1)) {
      display: none;
    }

    width: 100%;
    max-width: 100%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

.marquee {
  @media (min-width: 768px) {

    animation: scroll 20s linear infinite;
  }
}

.reverce {
  animation-direction: reverse;
}

.items-wrap:hover .marquee {
  animation-play-state: paused;
}


@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}