.principle {
  padding-top: 12rem;
  padding-bottom: 10rem;
  background-image: url('./../img/city-bg.svg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  @include mobile {
    padding-top: 0;
    padding-bottom: 0;
  }

  &__title {
    margin-bottom: 3.4rem;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include mobile {
      grid-template-columns: 1fr;
    }
  }
}

.pr-item {

  position: relative;
  padding-top: 12rem;
  padding-left: 5.3rem;
  padding-right: 3rem;
  padding-bottom: 3.7rem;

  @include mobile {
    text-align: center;
    padding-top: 8rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 4rem;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    inset: 0;
    opacity: 0.8;
    background: #FFF;
    filter: blur(6.125rem);
  }

  &:not(:nth-child(3n)) {
    border-right: .1rem solid rgba(211, 188, 128, 0.29);
    ;
  }

  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3) {
    border-bottom: .1rem solid rgba(211, 188, 128, 0.29);
    ;
  }

  &__icon {
    position: absolute;
    z-index: 5;
    left: 5rem;
    top: 5rem;
    width: 5rem;
    height: 4.7rem;

    svg {
      width: 100%;
      height: 100%;
      fill: #bea86d;
    }

    @include mobile {
      width: 6.5rem;
      height: 6rem;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__title {
    position: relative;
    z-index: 3;
    margin: 0;
    padding-bottom: 3.3rem;
    color: #000;

    font-family: "Inter";
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;

    @include mobile {
      padding-bottom: 1.7rem;
    }
  }

  &__text {
    position: relative;
    z-index: 3;
    margin: 0;
    margin-top: 2rem;
    color: rgba(0, 0, 0, 0.75);
    font-family: "Inter";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: 130%;
  }
}