<section class="about-section">
  <div class="container about-section__container">
    <article class="about-section__block about-text">
      <h3 class="about-text__title">О НАС</h3>
      <p class="about-text__desc">Мы не просто компания. Мы - команда профессионалов в сфере премиального недвижимого
        имущества в Москве и Московской области. «Название компании» поможет Вам в поиске элитной квартиры и в
        совершении сделки от начала до конца.
      </p>
      <p class="about-text__desc">Благодаря участию наших специалистов, Вы можете без опасений подписывать договор
        купли-продажи, ведь наши юристы внимательно изучат его и разъяснят все нюансы сделки. Работая с «Название
        компании», Вы можете спокойно заниматься своими делами и оставить все заботы на нас!
      </p>
      <button class="btn-reset btn btn--yel about-section__btn">Получить консультацию</button>
    </article>
    <h2 class="about-section__title a-title">
      <span class="text-row a-title__bold">Преимущества</span>
      <span class="text-row a-title__reg">нашей</span>
      <span class="text-row a-title__row">
        <span class="a-title__reg">компании</span>
        <span class="a-title__bold">в цифрах</span>
      </span>
    </h2>
  </div>
</section>