<section class="about-ben">
  <div class="about-ben__container">
    <h2 class="about-ben__title">
      <span class="about-ben__title-reg">Пре</span>
      <span class="about-ben__title-reg">иму</span>
      <span class="about-ben__title-reg">щес</span>
      <span class="about-ben__title-reg">тва</span>
      <span class="about-ben__title-mob">Преимущества</span>
    </h2>
    <div class="about-ben__items about-ben__slider swiper">
      <div class="swiper-wrapper about-ben__wrapper">
        <div class="swiper-slide">
          <div class="about-ben__ben a-ben">
            <h3 class="a-ben__title">Проверенные объекты</h3>
            <div class="a-ben__icon">
              <svg class="">
                <use xlink:href="img/sprite.svg#city-icon"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="about-ben__ben a-ben">
            <h3 class="a-ben__title">Без посредника</h3>
            <div class="a-ben__icon">
              <svg class="">
                <use xlink:href="img/sprite.svg#gar-icon"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="about-ben__ben a-ben">
            <h3 class="a-ben__title">Реальные цены</h3>
            <div class="a-ben__icon">
              <svg class="">
                <use xlink:href="img/sprite.svg#price-icon"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="about-ben__ben a-ben">
            <h3 class="a-ben__title">Анонимность</h3>
            <div class="a-ben__icon">
              <svg class="">
                <use xlink:href="img/sprite.svg#anon-icon"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>