<section class="about-hero hero">
  @include('./header.html')
  <div class="about-hero__front">
  </div>
  <div class="about-hero__clouds clouds">
    <img src="./img/clouds/about/01.webp" alt="">
    <img src="./img/clouds/about/02.webp" alt="">
    <img src="./img/clouds/about/03.webp" alt="">
    <img src="./img/clouds/about/04.webp" alt="">
    <img src="./img/clouds/about/05.webp" alt="">
    <img src="./img/clouds/about/06.webp" alt="">
    <img src="./img/clouds/about/07.webp" alt="">
    <img src="./img/clouds/about/01.webp" alt="">
    <img src="./img/clouds/about/02.webp" alt="">
    <img src="./img/clouds/about/03.webp" alt="">
    <img src="./img/clouds/about/04.webp" alt="">
    <img src="./img/clouds/about/05.webp" alt="">
    <img src="./img/clouds/about/06.webp" alt="">
    <img src="./img/clouds/about/07.webp" alt="">
  </div>
  <div class="container">
    <h2 class="about-hero__title"><span>О Нашей</span><span>компании</span></h2>
  </div>

</section>