<section class="about-info">
  <div class="container">
    <div class="about-info__container">
      <div class="about-info__images">
        <div class="about-info__img about-info__img--ang-rb about-info__img--first-small about-info__img--lt">
          <picture>
            <source srcset="./img/about/01-2x.webp" media="(min-width: 1920px)">
            <source srcset="./img/about/01.webp">
            <img src="./img/about/01.jpg" srcset="./img/about/01-2x.jpg 2x" alt="rec">
          </picture>
        </div>
        <div class="about-info__img about-info__img--high about-info__img--rb about-info__img--first">
          <picture>
            <source srcset="./img/about/02-2x.webp" media="(min-width: 1920px)">
            <source srcset="./img/about/02.webp">
            <img src="./img/about/02.jpg" srcset="./img/about/02-2x.jpg 2x" alt="rec">
          </picture>
        </div>
      </div>
      <div class="about-info__content about-item">
        <h3 class="about-item__title">Коротко <span>о компании</span></h3>
        <p class="about-item__desc">Наша компания существует на рынке недвижимости уже более ? лет. За это время мы
          заключили более 100 сделок. За 2023 год под нашим руководством было продано более 30 объектов недвижимости.
          Каждый наш сотрудник
          прошёл строгий отбор, прежде чем попасть в компанию. Средний опыт работы
          в недвижимости у наших риэлторов составляет — 10 лет. Также мы постоянно проходим дополнительные обучения и
          повышаем нашу квалификацию.
          За счёт огромного опыта «Название компании» на рынке недвижимости у нас сформировался точный и слаженный
          механизм работы, который не оставляет равнодушным ни одного клиента. Доказательством качества нашей работы
          служит огромное число положительных отзывов о компании.
        </p>
        <p class="about-item__desc">
          Мы оперативно подберем и презентуем актуальные предложения на рынке элитной жилой недвижимости, организуем
          показы на заинтересовавшие Вас объекты на удобное время. Элитная недвижимость Москвы - наш профиль
        </p>
      </div>
      <div class="about-info__content about-item">
        <h3 class="about-item__title"><span>Экспертность</span>наша основа</h3>
        <p class="about-item__desc">
          Мы понимаем тенденции и знаем рынок элитной недвижимости. Наш опыт
          и экспертиза помогут безопасно и выгодно приобрести уникальные объекты. Профессионализм «Название компании»
          основан на глубоком анализе рынка недвижимости, опыте, понимании потребностей клиента. Мы берем лучшее
          из международного подхода к ведению бизнеса, к отношениям с клиентами.
          Мы создаем технологии, которые позитивно меняют риэлторский бизнес
        </p>
      </div>
      <div class="about-info__images">
        <div class="about-info__img about-info__img--high about-info__img--second-big about-info__img--lt">
          <picture>
            <source srcset="./img/about/03-2x.webp" media="(min-width: 1920px)">
            <source srcset="./img/about/03.webp">
            <img src="./img/about/03.jpg" srcset="./img/about/03-2x.jpg 2x" alt="rec">
          </picture>
        </div>
        <div class="about-info__img about-info__img--second-small about-info__img--ang-lt about-info__img--rb">
          <picture>
            <source srcset="./img/about/04-2x.webp" media="(min-width: 1920px)">
            <source srcset="./img/about/04.webp">
            <img src="./img/about/04.jpg" srcset="./img/about/04-2x.jpg 2x" alt="rec">
          </picture>
        </div>
      </div>

    </div>
  </div>
</section>