<section class="ach-section">
  <div class="container">
    <h2 class="ach-section__title">
      наши
      <span>достижения</span>
    </h2>
    <div class="ach-section__wrapper">
      <div class="ach-section__container rellax" data-rellax-percentage="0.8">
        <article class="ach-section__item achiev">
          <div class="achiev__content">
            <h4 class="achiev__title">Февраль</h4>
            <p class="achiev__desc">Наша команда пополнилась
              на&nbsp;5&nbsp;дополнительных брокеров</p>
          </div>
          <div class="achiev__image">
            <div class="achiev__image-rip ripple"></div>
            <picture>
              <source srcset="./img/ach/01.webp" type="image/webp">
              <img src="./img/ach/01.jpg" srcset="./img/ach/01-2x.jpg">
            </picture>
          </div>
        </article>
        <article class="ach-section__item achiev">
          <div class="achiev__content">
            <h4 class="achiev__title">Апрель</h4>
            <p class="achiev__desc">Мы&nbsp;закрыли нашу самую крупную сделку на&nbsp;180млн.рублей</p>
          </div>
          <div class="achiev__image">
            <div class="achiev__image-rip ripple"></div>
            <picture>
              <source srcset="./img/ach/02.webp" type="image/webp">
              <img src="./img/ach/02.jpg" srcset="./img/ach/02-2x.jpg">
            </picture>
          </div>
        </article>
        <article class="ach-section__item achiev">
          <div class="achiev__content">
            <h4 class="achiev__title">ИЮЛЬ</h4>
            <p class="achiev__desc">Мы превышаем годовой план на 20%, и решили сделать подарок команде
              и полетели в сочи за счет компании</p>
          </div>
          <div class="achiev__image">
            <div class="achiev__image-rip ripple"></div>
            <picture>
              <source srcset="./img/ach/03.webp" type="image/webp">
              <img src="./img/ach/03.jpg" srcset="./img/ach/03-2x.jpg">
            </picture>
          </div>
        </article>

        <a href="./achievements.html" class="ach-section__cont">
          <span class="ach-section__more">Показать ещё</span>
          <div class="ach-section__more-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="39" height="21" viewBox="0 0 39 21" fill="none">
              <path
                d="M36.4522 0H1.84741C0.209859 0 -0.624365 1.97742 0.549728 3.15151L17.8521 20.4539C18.5628 21.1646 19.7369 21.1646 20.4478 20.4539L37.7502 3.15151C38.924 1.97742 38.0898 0 36.4522 0Z"
                fill="#D3BC80" />
            </svg>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="ach-section__gal">
    <div class="ach-section__bg">
      <picture>
        <source srcset="./img/ach/01.webp" type="image/webp">
        <img src="./img/ach/01.jpg">
      </picture>
    </div>
    <div class="ach-section__bg">
      <picture>
        <source srcset="./img/ach/02.webp" type="image/webp">
        <img src="./img/ach/02.jpg">
      </picture>
    </div>
    <div class="ach-section__bg">
      <picture>
        <source srcset="./img/ach/03.webp" type="image/webp">
        <img src="./img/ach/03.jpg">
      </picture>
    </div>
  </div>
</section>