<section class="benefits">
  <h2 class="visually-hidden">title</h2>

  <div class="benefits__container">
    <div class="benefits-item benefits__item">
      <div class="benefits-item__icon">
        <svg class="">
          <use xlink:href="img/sprite.svg#people-icon"></use>
        </svg>
      </div>
      <p class="benefits-item__desc">Решим именно ваш индивидуальный запрос</p>
    </div>
    <div class="benefits-item benefits__item">
      <div class="benefits-item__icon">
        <svg class="">
          <use xlink:href="img/sprite.svg#planet-icon"></use>
        </svg>
      </div>
      <p class="benefits-item__desc">Из любой части света</p>
    </div>
    <div class="benefits-item benefits__item">
      <div class="benefits-item__icon">
        <svg class="">
          <use xlink:href="img/sprite.svg#inkognito-icon"></use>
        </svg>
      </div>
      <p class="benefits-item__desc">Анонимные и безопасные сделки</p>
    </div>
  </div>


  <div class="benefits__card ben-card">
    <h4 class="ben-card__title"><span>2</span> года</h4>
    <p class="ben-card__desc">эффективной работы</p>
  </div>
</section>