<section class="complexes">
  <div class="container">
    <h2 class="title complexes__title">Жилые комплексы</h2>
    <div class="complexes__items">
      <a href="#" class="complex complexes__item">
        <div class="complex__img">
          <picture>
            <source srcset="./img/complexes/01-2x.webp" media="(min-width: 1920px)">
            <source srcset="./img/complexes/01.webp">
            <img src="./img/complexes/01.jpg" srcset="./img/comlexes/01-2x.jpg 2x" alt="">
          </picture>
        </div>
        <h2 class="complex__title">Нева-Тауэр</h2>
      </a>
      <a href="#" class="complex complexes__item">
        <div class="complex__img">
          <picture>
            <source srcset="./img/complexes/02-2x.webp" media="(min-width: 1920px)">
            <source srcset="./img/complexes/02.webp">
            <img src="./img/complexes/02.jpg" srcset="./img/comlexes/02-2x.jpg 2x" alt="">
          </picture>
        </div>
        <h2 class="complex__title">Хамовники</h2>
      </a>
      <a href="#" class="complex complexes__item">
        <div class="complex__img">
          <picture>
            <source srcset="./img/complexes/03-2x.webp" media="(min-width: 1920px)">
            <source srcset="./img/complexes/03.webp">
            <img src="./img/complexes/03.jpg" srcset="./img/comlexes/03-2x.jpg 2x" alt="">
          </picture>
        </div>
        <h2 class="complex__title">Новый проект</h2>
      </a>
      <a href="#" class="complex complexes__item">
        <div class="complex__img">
          <picture>
            <source srcset="./img/complexes/04-2x.webp" media="(min-width: 1920px)">
            <source srcset="./img/complexes/04.webp">
            <img src="./img/complexes/04.jpg" srcset="./img/comlexes/04-2x.jpg 2x" alt="">
          </picture>
        </div>
        <h2 class="complex__title">Новый проект</h2>
      </a>
    </div>
  </div>
</section>