<section class="complexes">
  <div class="container">
    <h2 class="title complexes__title">Жилые комплексы</h2>
    <div class="complexes__items">
      <a href="./complex-neva.html" class="complex complexes__item ">
        <div class="complex__img">
          <div class="complex__img-cover"></div>
        </div>
        <h2 class="complex__title">Нева-Тауэр</h2>
      </a>
      <a href="./complex-ham.html" class="complex complexes__item ">
        <div class="complex__img">
          <div class="complex__img-cover"></div>
        </div>
        <h2 class="complex__title">Хамовники</h2>
      </a>
      <a href="#" class="complex complexes__item ">
        <div class="complex__img">
          <div class="complex__img-cover"></div>
        </div>
        <h2 class="complex__title">Новый проект</h2>
      </a>
      <a href="#" class="complex complexes__item">
        <div class="complex__img">
          <div class="complex__img-cover"></div>
        </div>
        <h2 class="complex__title">Новый ;проект</h2>
      </a>
    </div>
  </div>
</section>