<section class="cta cta--sec cta--contacts ripple" id="cta">
  <div class="container">
    <h3 class="cta__title">Ответим на все вопросы,
      расскажем о проекте и проконсультируем
      по квартирам, отделке и способам оплаты.
    </h3>
    <form method="post" class="form cta__form">
      <label class="form__label">
        <span class="form__name">Имя</span>
        <input type="text" class="form__input" id="name" name="Имя Клиента">
      </label>
      <label class="form__label">
        <span class="form__name">Номер телефона</span>
        <input type="tel" class="form__input" id="tel" name="Контактный номер">
      </label>
      <label class="form__label">
        <span class="form__name">Email</span>
        <input type="email" class="form__input" id="mail" name="Email">
      </label>
      <button class="btn-reset form__btn btn btn--yel">Получить консультацию</button>
      <label class="form__label form__label--row">
        <input type="checkbox" id="check" class="form__checkbox"> <span class="form__policy">Даю согласие на обработку
          <a href="policy.html">персональных
            данных</a></span>
      </label>
    </form>
  </div>
</section>