<section class="contacts-hero sec-hero">
  <div class="contacts-hero__front">
  </div>
  <div class="contacts-hero__clouds clouds">
    <img src="./img/clouds/contacts/01.webp" alt="">
    <img src="./img/clouds/contacts/02.webp" alt="">
    <img src="./img/clouds/contacts/03.webp" alt="">

    <img src="./img/clouds/contacts/01.webp" alt="">
    <img src="./img/clouds/contacts/02.webp" alt="">
    <img src="./img/clouds/contacts/03.webp" alt="">
  </div>
  <div class="container faq-hero__container">
    <h2 class="faq-hero__title sec-hero__title contacts-hero__title">Контакты</h2>
  </div>
</section>