<section class="faq-hero sec-hero">
  <div class="faq-hero__cover"></div>
  <div class="faq-hero__clouds clouds">
    <img src="./img/clouds/faq/01.webp" alt="">
    <img src="./img/clouds/faq/02.webp" alt="">
    <img src="./img/clouds/faq/03.webp" alt="">
    <img src="./img/clouds/faq/01.webp" alt="">
    <img src="./img/clouds/faq/02.webp" alt="">
    <img src="./img/clouds/faq/03.webp" alt="">
  </div>
  <div class="container faq-hero__container">
    <h2 class="faq-hero__title sec-hero__title">Вопросы-ответы</h2>
  </div>
</section>