<footer class="footer">
  <div class="container footer__container">
    <div class="footer__col">
      <div class="footer__header">
        <a href="/" class="footer__logo logo">
          <img src="./img/logo-wh.svg" alt="logo">
          <span class="logo__col">
            <span class="logo__name">FREENIGHTS</span>
            <span class="logo__desc">Людям только лучшее</span>
          </span>
        </a>
      </div>
      <div class="footer__copy">
        <p>© 2006-2023 ООО «АН78»</p>
        <p><a href="policy.html" class="footer__link">Политика конфиденциальности</a></p>
        <p>ИНН: 9703166158 ОГРН: 1237700911810</p>
        <p>Юр. адрес: 123112,Г.МОСКВА,
          ВН.ТЕР.Г. МУНИЦИПАЛЬНЫЙ ОКРУГ ПРЕСНЕНСКИЙ,НАБ ПРЕСНЕНСКАЯ,
          Д. 6 СТР. 2 ,ПОМЕЩ. 14/40</p>
      </div>
    </div>
    <div class="footer__col">
      <h5 class="footer__name">Страницы</h5>
      <nav class="footer__nav">
        <ul class="footer__list list-reset">
          <li class="footer__item">
            <a href="./" class="footer__link">Главная</a>
          </li>
          <li class="footer__item">
            <a href="./about.html" class="footer__link">О компании</a>
          </li>
          <li class="footer__item">
            <a href="./complex-neva.html" class="footer__link">Нева Тауэрс</a>
          </li>
          <li class="footer__item">
            <a href="./complex-ham.html" class="footer__link">Хамовники</a>
          </li>
          <li class="footer__item">
            <a href="./achievements.html" class="footer__link">Достижения</a>
          </li>
          <li class="footer__item">
            <a href="./faq.html" class="footer__link">Вопросы-ответы</a>
          </li>
          <li class="footer__item">
            <a href="./contacts.html" class="footer__link">Контакты</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer__col">
      <h5 class="footer__name">Контакты</h5>
      <address class="footer__add">
        <p class="footer__contact"><a href="mailto:info@freenights.ru" class="footer__link">info@freenights.ru</a></p>
        <p class="footer__contact"><a href="tel:+79911148372" class="footer__link">+7 991 114 83 72</a></p>
      </address>

      <div class="footer__copy footer__copy--mob">
        <p>© 2006-2023 ООО «АН78»</p>
        <p><a href="#" class="footer__link">Политика конфиденциальности</a></p>
        <p>ИНН: 1102053405 КПП: 781101001 ОГРН: 1061102018834</p>
      </div>
    </div>
  </div>
</footer>