<section class="ach-section ach-section--exp">
  <div class="container">
    <h2 class="ach-section__title">
      наши
      <span>достижения</span>
    </h2>

    <div class="ach-section__wrapper ach-section__wrapper--2022">
      <div class="ach-section__container">
        <article class="ach-section__item achiev achiev--order">
          <div class="achiev__content">
            <h4 class="achiev__title">Январь</h4>
            <p class="achiev__desc">
              Основание Компании. Наши молодые и амбициозные руководители выходят на рынок элитной недвижимости ,
              задавая
              основы. И проводя свои первые, но небольшие сделки.
            </p>
          </div>
          <div class="achiev__image ripple">
          </div>
        </article>
        <article class="ach-section__item achiev achiev--order">
          <div class="achiev__content">
            <h4 class="achiev__title">Май</h4>
            <p class="achiev__desc">Наша команда пополняется и к концу Мая состоит из 5 ключевых брокеров и небольшого
              штата маркетологов</p>
          </div>
          <div class="achiev__image ripple">
          </div>
        </article>
        <article class="ach-section__item achiev achiev--order">
          <div class="achiev__content">
            <h4 class="achiev__title">Июнь</h4>
            <p class="achiev__desc">
              Наша команда празднует выполнение полугодового плана! Все поставленные цели были закрыты!
            </p>
          </div>
          <div class="achiev__image ripple">
          </div>
        </article>
        <article class="ach-section__item achiev achiev--order">
          <div class="achiev__content">
            <h4 class="achiev__title">Август</h4>
            <p class="achiev__desc">
              Прописали цели и миссию компании. Мотивационная речь наших владельцев способствует сплочению команды!
            </p>
          </div>
          <div class="achiev__image ripple">
          </div>
        </article>
        <article class="ach-section__item achiev achiev--order">
          <div class="achiev__content">
            <h4 class="achiev__title">Декабрь</h4>
            <p class="achiev__desc">
              Празднуем первый год на рынке элитной недвижимости!
            </p>
          </div>
          <div class="achiev__image ripple">
          </div>
        </article>
      </div>
    </div>
    <div class="ach-section__wrapper ach-section__wrapper--2023">
      <div class="ach-section__container">
        <article class="ach-section__item achiev achiev--order">
          <div class="achiev__content">
            <h4 class="achiev__title">Февраль</h4>
            <p class="achiev__desc">
              Наша команда пополнилась
              на 5 дополнительных брокеров
            </p>
          </div>
          <div class="achiev__image ripple">
          </div>
        </article>
        <article class="ach-section__item achiev achiev--order">

          <div class="achiev__content">
            <h4 class="achiev__title">Апрель</h4>
            <p class="achiev__desc">Мы закрыли нашу самую крупную сделку на 180млн.рублей</p>
          </div>
          <div class="achiev__image ripple">
          </div>
        </article>
        <article class="ach-section__item achiev achiev--order">
          <div class="achiev__content">
            <h4 class="achiev__title">ИЮЛЬ</h4>
            <p class="achiev__desc">
              Мы превышаем годовой план на 20%, и решили сделать подарок команде
              и полетели в сочи за счет компании
            </p>
          </div>
          <div class="achiev__image ripple">
          </div>
        </article>
        <article class="ach-section__item achiev achiev--order">
          <div class="achiev__content">
            <h4 class="achiev__title">Октябрь</h4>
            <p class="achiev__desc">
              Получили уникальные права на продажу элитной недвижимости в Москва Сити. Наше первое эксклюзивное
              предложение для клиентов
            </p>
          </div>
          <div class="achiev__image ripple">
          </div>
        </article>
        <article class="ach-section__item achiev achiev--order">
          <div class="achiev__content">
            <h4 class="achiev__title">Декабрь</h4>
            <p class="achiev__desc">
              Закрыли ежегодный план на 130 процентов(с перевыполнением на 30%). Отмечаем Новый Год!
            </p>
          </div>
          <div class="achiev__image ripple">
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="ach-section__gal">
    <div class="ach-section__bg">
      <picture>
        <source srcset="./img/ach/01.webp">
        <img src="./img/ach/01.jpg">
      </picture>
    </div>
    <div class="ach-section__bg">
      <picture>
        <source srcset="./img/ach/02.webp">
        <img src="./img/ach/02.jpg">
      </picture>
    </div>
    <div class="ach-section__bg">
      <picture>
        <source srcset="./img/ach/03.webp">
        <img src="./img/ach/03.jpg">
      </picture>
    </div>
    <div class="ach-section__bg">
      <picture>
        <source srcset="./img/ach/01.webp">
        <img src="./img/ach/01.jpg">
      </picture>
    </div>
    <div class="ach-section__bg">
      <picture>
        <source srcset="./img/ach/02.webp">
        <img src="./img/ach/02.jpg">
      </picture>
    </div>
    <div class="ach-section__bg">
      <picture>
        <source srcset="./img/ach/03.webp">
        <img src="./img/ach/03.jpg">
      </picture>
    </div>

  </div>
</section>