<section class="ham-desc">
  <div class="container">

    <div class="ham-desc__grid ham-item">
      <h3 class="ham-desc__subtitle">Жилой комплекс</h3>
      <h2 class="ham-desc__title">Хамовники</h2>
      <p class="ham-desc__desc">
        Сверхсовременный многофункциональный комплекс элитного класса
        включает офисы, апартаменты, торговую галерею, а также обширный
        набор объектов другой инфраструктуры.
      </p>
      <div class="ham-item__image">
      </div>
      <div class="ham-item__col">
        <div class="ham-item__char ham-char">
          <div class="ham-char__header">
            <span class="ham-char__capture">от</span>
            <span class="ham-char__value"><span>40</span>м<sup>2</sup></span>
          </div>
          <p class="ham-char__desc">Площадь апартаментов</p>
        </div>
        <div class="ham-item__char ham-char">
          <div class="ham-char__header">
            <span class="ham-char__capture ham-char__capture--hid">от</span>
            <span class="ham-char__value"><span>2,4</span> га</span>
          </div>
          <p class="ham-char__desc">Располагается на самом большом участке в Москва-Сити</p>
        </div>
      </div>


      <div class="ham-item__row ham-item__row--items">
        <div class="ham-item__char ham-char ham-char--r">
          <div class="ham-char__header">
            <span class="ham-char__value"><span>6</span> минут</span>
          </div>
          <p class="ham-char__desc">Деловой центр</p>
        </div>
        <div class="ham-item__char ham-char ham-char--r">
          <div class="ham-char__header">
            <span class="ham-char__value"><span>5</span> минут</span>
          </div>
          <p class="ham-char__desc">Международная</p>
        </div>
        <div class="ham-item__char ham-char ham-char--r">
          <div class="ham-char__header">
            <span class="ham-char__value"><span>2</span> минуты</span>
          </div>
          <p class="ham-char__desc">ТТК</p>
        </div>
        <div class="ham-item__char ham-char ham-char--r">
          <div class="ham-char__header">
            <span class="ham-char__value"><span>10</span> минут</span>
          </div>
          <p class="ham-char__desc">Садовое кольцо</p>
        </div>
      </div>


      <div class="ham-item__row">
        <p class="ham-item__text">
          Комплекс Neva Towers — флагманский проект компании Renaissance Development, которая входит в международный
          холдинг Renaissance. Новые башни стоят на отдельном островке через дорогу от Москвы-Сити. Neva Towers - это
          уникальная для бизнес-кластера Москва-Сити концепция с собственной парковой зоной на крыше торгового центра,
          расположенного в стилобатной части здания, и обширными зелеными пространствами. Центральный фонтан перед
          башнями и уютная зона отдыха с уличными кофейнями и пекарнями создают удивительную атмосферу в центре Москвы.
        </p>
        <div class="ham-item__price">
          <span class="ham-item__capture">Цена апартаментов</span>
          <span class="ham-item__capture">от <span>30 500 000</span></span>
        </div>
        <a href="#cta" class="btn-reset btn btn--yel ham-item__btn">Получить консультацию</a>
      </div>
    </div>
  </div>
</section>