<section class="complex-ach complex-ach--ach">
  <h2 class="visually-hidden">title</h2>

  <div class="swiper complex-ach__slider">
    <div class="swiper-wrapper">

      <div class="swiper-slide">
        <h4 class="complex-ach__title">120+</h4>
        <p class="complex-ach__desc">Счастливых владельцев премиальных квартир
          в 2023 году</p>
      </div>
      <div class="swiper-slide swiper-slide--short">
        <h4 class="complex-ach__title">50+</h4>
        <p class="complex-ach__desc">Объектов в нашей базе</p>
      </div>
      <div class="swiper-slide">
        <h4 class="complex-ach__title">120+</h4>
        <p class="complex-ach__desc">Счастливых владельцев премиальных квартир
          в 2023 году</p>
      </div>
      <div class="swiper-slide swiper-slide--short">
        <h4 class="complex-ach__title">50+</h4>
        <p class="complex-ach__desc">Объектов в нашей базе</p>
      </div>

    </div>
  </div>
</section>