<section class="ham-gal">
  <h2 class="visually-hidden">title</h2>
  <div class="container ham-gal__container">
    <div class="ham-gal__item">
      <picture>
        <source srcset="./img/ham/gal/01-2x.webp" media="(min-width: 1920px)">
        <source srcset="./img/ham/gal/01.webp">
        <img src="./img/ham/gal01.jpg" srcset="./img/ham/gal/01-2x.jpg 2x" alt="">
      </picture>
    </div>
    <div class="ham-gal__item">
      <picture>
        <source srcset="./img/ham/gal/02-2x.webp" media="(min-width: 1920px)">
        <source srcset="./img/ham/gal/02.webp">
        <img src="./img/ham/gal02.jpg" srcset="./img/ham/gal/02-2x.jpg 2x" alt="">
      </picture>
    </div>
    <div class="ham-gal__item">
      <picture>
        <source srcset="./img/ham/gal/03-2x.webp" media="(min-width: 1920px)">
        <source srcset="./img/ham/gal/03.webp">
        <img src="./img/ham/gal03.jpg" srcset="./img/ham/gal/03-2x.jpg 2x" alt="">
      </picture>
    </div>
    <div class="ham-gal__item">
      <picture>
        <source srcset="./img/ham/gal/04-2x.webp" media="(min-width: 1920px)">
        <source srcset="./img/ham/gal/04.webp">
        <img src="./img/ham/gal04.jpg" srcset="./img/ham/gal/04-2x.jpg 2x" alt="">
      </picture>
    </div>
    <div class="ham-gal__item">
      <picture>
        <source srcset="./img/ham/gal/06-2x.webp" media="(min-width: 1920px)">
        <source srcset="./img/ham/gal/06.webp">
        <img src="./img/ham/gal06.jpg" srcset="./img/ham/gal/06-2x.jpg 2x" alt="">
      </picture>
    </div>
    <div class="ham-gal__item">
      <picture>
        <source srcset="./img/ham/gal/05-2x.webp" media="(min-width: 1920px)">
        <source srcset="./img/ham/gal/05.webp">
        <img src="./img/ham/gal05.jpg" srcset="./img/ham/gal/05-2x.jpg 2x" alt="">
      </picture>
    </div>
  </div>
</section>