<section class="hero">
  @include('header.html')
  <div class="hero__welcome hero-welc">
    <h2 class="hero-welc__title">
      <span class="hero-welc__text">Наша команда поможет с подбором <span>идеальной</span></span>
      <span class="hero-welc__text"><span>квартиры</span> для вас</span>
    </h2>
  </div>
  <div class="hero__cover">
    <div class="container">
      @include('header.html')
      <div class="hero__header">
        <h1 class="hero__title hero-title">
          <span class="text-row hero-title__left"><span class="hero-title__bold">Покупка</span> элитного</span>
          <span class="text-row hero-title__right">сегмента <span class="hero-title__bold">недвижимости</span></span>
          <span class="text-row hero-title__text"><span>в Москве</span> <span><span class="and">и</span> Московской
              области</span></span>
        </h1>
        <button class="btn btn--yel btn-reset hero__btn">Получить консультацию</button>
      </div>

      <div class="hero__items">
        <div class="hero__items-col">
          <div class="hero-item">
            <span class="hero-item__fig">90</span>
            <span class="hero-item__text">успешных сделок</span>
          </div>
          <div class="hero-item">
            <span class="hero-item__fig">90</span>
            <span class="hero-item__text">успешных сделок</span>
          </div>
          <div class="hero-item">
            <span class="hero-item__fig">90</span>
            <span class="hero-item__text">успешных сделок</span>
          </div>
        </div>
        <div class="hero__items-col">
          <div class="hero-item">
            <span class="hero-item__fig">90</span>
            <span class="hero-item__text">успешных сделок</span>
          </div>
          <div class="hero-item">
            <span class="hero-item__fig">90</span>
            <span class="hero-item__text">успешных сделок</span>
          </div>
          <div class="hero-item">
            <span class="hero-item__fig">90</span>
            <span class="hero-item__text">успешных сделок</span>
          </div>
        </div>
      </div>
    </div>
  </div>



</section>