<section class="mission">
  <h2 class="visually-hidden">title</h2>
  <div class="container mission__container">
    <div class="mission__images">
      <div class="mission__img">
        <picture>
          <source srcset="./img/mission/01.webp">
          <img src="./img/mission/01.jpg" alt="">
        </picture>
      </div>
      <div class="mission__img">
        <picture>
          <source srcset="./img/mission/02.webp">
          <img src="./img/mission/02.jpg" alt="">
        </picture>
      </div>
    </div>
    <div class="mission__content">
      <div class="mission__item mission-item">
        <h4 class="mission-item__subtitle">наша</h4>
        <h3 class="mission-item__title">Миссия</h3>
        <p class="mission-item__desc">Миссия - помогать осуществлять мечты</p>
      </div>
      <div class="mission__item mission-item">
        <h4 class="mission-item__subtitle">наша</h4>
        <h3 class="mission-item__title">Цель</h3>
        <p class="mission-item__desc">Наша цель - это предоставление риэлторских услуг, соответствующих самым высоким
          международным стандартам, индивидуальный и гибкий подход к каждому клиенту, экономия его времени и полное
          избавление от излишних хлопот, связанных с поиском или покупкой недвижимости</p>
      </div>
    </div>
  </div>
</section>