<section class="neva-desc">
  <div class="neva-desc__image ripple">
  </div>
  <div class="neva-desc__content">
    <h2 class="neva-desc__title title">Neva Towers</h2>
    <p class="neva-desc__desc">Мы оперативно подберем и презентуем актуальные предложения на рынке элитной жилой
      недвижимости, организуем показы на заинтересовавшие Вас объекты на удобное время. Элитная недвижимость Москвы -
      наш профиль
    </p>
    <div class="neva-desc__row">
      <div class="neva-desc__col">
        <h4 class="neva-desc__capture">Квартиры и аппартаменты</h4>
        <span class="neva-desc__cont">от <span>94 940 000 ₽</span></span>
      </div>
      <div class="neva-desc__col">
        <h4 class="neva-desc__capture">Застройщик <span>Renaissance Development</span></h4>
      </div>
    </div>
    <a href="#cta" class="btn-reset btn btn--yel">Получить консультацию</a>
  </div>
  <div class="neva-desc__image ripple">
  </div>
</section>