<section class="neva-ben">
  <div class="container">
    <h2 class="neva-ben__title title">Преимущества <span>Neva Towers</span></h2>

    <div class="neva-ben__items">
      <div class="neva-ben__item nb-item">
        <h4 class="nb-item__title"><span>9</span> лет</h4>
        <p class="nb-item__desc">эффективной работы</p>
        <div class="nb-item__img">
          <picture>
            <source srcset="./img/neva/cards/01-2x.webp" media="(min-width: 1920px)">
            <source srcset="./img/neva/cards/01.webp">
            <img src="./img/neva/cards/01.png" srcset="./img/neva/cards/01-2x.png 2x" alt="">
          </picture>
        </div>
      </div>
      <div class="neva-ben__item nb-item nb-item--wh">
        <h4 class="nb-item__title">50+</h4>
        <p class="nb-item__desc">объектов в нашей базе</p>
      </div>
      <div class="neva-ben__item neva-ben__item--long nb-item">
        <h4 class="nb-item__title nb-item__title--main">Neva Towers</h4>
        <div class="nb-item__img">
          <picture>
            <source srcset="./img/neva/cards/02-2x.webp" media="(min-width: 1920px)">
            <source srcset="./img/neva/cards/02.webp">
            <img src="./img/neva/cards/02.png" srcset="./img/neva/cards/02-2x.png 2x" alt="">
          </picture>
        </div>
      </div>
      <div class="neva-ben__item nb-item nb-item--wh">
        <h4 class="nb-item__title">90</h4>
        <p class="nb-item__desc">успешных сделок</p>
      </div>
      <div class="neva-ben__item nb-item nb-item--wh">
        <div class="nb-item__img">
          <picture>
            <source srcset="./img/neva/cards/03-2x.webp" media="(min-width: 1920px)">
            <source srcset="./img/neva/cards/03.webp">
            <img src="./img/neva/cards/03.jpg" srcset="./img/neva/cards/03-2x.jpg 2x" alt="">
          </picture>
        </div>
      </div>
      <div class="neva-ben__item neva-ben__item--long nb-item  nb-item--wh">
        <h4 class="nb-item__title">120+</h4>
        <p class="nb-item__desc">счастливых владельцев премиальных квартир
          в 2023 году</p>
      </div>
    </div>
  </div>
</section>