<section class="complex-ach complex-ach--neva">
  <h2 class="visually-hidden">title</h2>

  <div class="swiper complex-ach__slider">
    <div class="swiper-wrapper">

      <div class="swiper-slide">
        <h4 class="complex-ach__title">120+</h4>
        <p class="complex-ach__desc">Счастливых владельцев премиальных квартир
          в 2023 году</p>
      </div>
      <div class="swiper-slide swiper-slide--short">
        <h4 class="complex-ach__title">50+</h4>
        <p class="complex-ach__desc">Объектов в нашей базе</p>
      </div>
      <div class="swiper-slide">
        <h4 class="complex-ach__title">120+</h4>
        <p class="complex-ach__desc">Счастливых владельцев премиальных квартир
          в 2023 году</p>
      </div>
      <div class="swiper-slide swiper-slide--short">
        <h4 class="complex-ach__title">50+</h4>
        <p class="complex-ach__desc">Объектов в нашей базе</p>
      </div>

    </div>
  </div>
</section>
<section class="cta cta--neva cta--sec">
  <div class="container">
    <h3 class="cta__title">Ответим на все вопросы,
      расскажем о проекте и проконсультируем
      по квартирам, отделке и способам оплаты.
    </h3>
    <form method="post" class="form cta__form">
      <label class="form__label">
        <span class="form__name">Имя</span>
        <input type="text" class="form__input">
      </label>
      <label class="form__label">
        <span class="form__name">Номер телефона</span>
        <input type="tel" class="form__input">
      </label>
      <label class="form__label">
        <span class="form__name">Email</span>
        <input type="email" class="form__input">
      </label>
      <button class="btn-reset form__btn btn btn--yel">Получить консультацию</button>
      <label class="form__label form__label--row">
        <input type="checkbox" class="form__checkbox"> <span class="form__policy">Даю согласие на обработку
          <span>персональных
            данных</span></span>
      </label>
    </form>
  </div>
</section>