<section class="partners">
  <h2 class="title centered partners__title">Партнеры</h2>

  <div class="items-wrap">
    <div class="items marquee">
      <div class="partners__item">
        <svg class="">
          <use xlink:href="img/sprite.svg#gasprom"></use>
        </svg>
      </div>
      <div class="partners__item">
        <svg class="">
          <use xlink:href="img/sprite.svg#interarro"></use>
        </svg>
      </div>
      <div class="partners__item">
        <svg class="">
          <use xlink:href="img/sprite.svg#tatneft"></use>
        </svg>
      </div>
      <div class="partners__item">
        <svg class="">
          <use xlink:href="img/sprite.svg#rushidro"></use>
        </svg>
      </div>
      <div class="partners__item">
        <svg class="">
          <use xlink:href="img/sprite.svg#rostelekom"></use>
        </svg>
      </div>
      <div class="partners__item">
        <svg class="">
          <use xlink:href="img/sprite.svg#interarro"></use>
        </svg>
      </div>
    </div>
    <div aria-hidden="true" class="items marquee">
      <div class="partners__item">
        <svg class="">
          <use xlink:href="img/sprite.svg#gasprom"></use>
        </svg>
      </div>
      <div class="partners__item">
        <svg class="">
          <use xlink:href="img/sprite.svg#interarro"></use>
        </svg>
      </div>
      <div class="partners__item">
        <svg class="">
          <use xlink:href="img/sprite.svg#tatneft"></use>
        </svg>
      </div>
      <div class="partners__item">
        <svg class="">
          <use xlink:href="img/sprite.svg#rushidro"></use>
        </svg>
      </div>
      <div class="partners__item">
        <svg class="">
          <use xlink:href="img/sprite.svg#rostelekom"></use>
        </svg>
      </div>
    </div>
  </div>
  <div class="items-wrap">
    <div class="items marquee reverce">
      <div class="partners__item">
        <svg class="">
          <use xlink:href="img/sprite.svg#gasprom"></use>
        </svg>
      </div>
      <div class="partners__item">
        <svg class="">
          <use xlink:href="img/sprite.svg#interarro"></use>
        </svg>
      </div>
      <div class="partners__item">
        <svg class="">
          <use xlink:href="img/sprite.svg#tatneft"></use>
        </svg>
      </div>
      <div class="partners__item">
        <svg class="">
          <use xlink:href="img/sprite.svg#rushidro"></use>
        </svg>
      </div>
      <div class="partners__item">
        <svg class="">
          <use xlink:href="img/sprite.svg#rostelekom"></use>
        </svg>
      </div>
    </div>
    <div aria-hidden="true" class="items marquee reverce">
      <div class="partners__item">
        <svg class="">
          <use xlink:href="img/sprite.svg#gasprom"></use>
        </svg>
      </div>
      <div class="partners__item">
        <svg class="">
          <use xlink:href="img/sprite.svg#interarro"></use>
        </svg>
      </div>
      <div class="partners__item">
        <svg class="">
          <use xlink:href="img/sprite.svg#tatneft"></use>
        </svg>
      </div>
      <div class="partners__item">
        <svg class="">
          <use xlink:href="img/sprite.svg#rushidro"></use>
        </svg>
      </div>
      <div class="partners__item">
        <svg class="">
          <use xlink:href="img/sprite.svg#rostelekom"></use>
        </svg>
      </div>
    </div>
  </div>
</section>