<section class="principle">
  <div class="container">
    <h2 class="title centered principle__title">Принципы работы</h2>
    <div class="principle__container">
      <div class="principle__item pr-item">
        <div class="pr-item__icon">
          <svg class="">
            <use xlink:href="img/sprite.svg#activity-icon"></use>
          </svg>
        </div>
        <h4 class="pr-item__title">Проактивность</h4>
        <p class="pr-item__text">
          Ищем и находим возможность проявить разумную инициативу, предвидим развитие событий.
        </p>
      </div>
      <div class="principle__item pr-item">
        <div class="pr-item__icon">
          <svg class="">
            <use xlink:href="img/sprite.svg#or-icon"></use>
          </svg>
        </div>
        <h4 class="pr-item__title">Ориентация на клиента</h4>
        <p class="pr-item__text">
          Всегда строим отношения на основе взаимного доверия и уважения. Симбиоз Ваших истинных потребностей и нашего
          опыта ведет к успешной реализации проектов
        </p>
      </div>
      <div class="principle__item pr-item">
        <div class="pr-item__icon">
          <svg class="">
            <use xlink:href="img/sprite.svg#prof-icon"></use>
          </svg>
        </div>
        <h4 class="pr-item__title">Компетентность</h4>
        <p class="pr-item__text">
          Нам важно иметь высокий уровень знаний, опыта, а также подготовку, позволяющую претендовать на звание лидеров
          рынка.
        </p>
      </div>
      <div class="principle__item pr-item">
        <div class="pr-item__icon">
          <svg class="">
            <use xlink:href="img/sprite.svg#conf-icon"></use>
          </svg>
        </div>
        <h4 class="pr-item__title">Конфиденциальность</h4>
        <p class="pr-item__text">
          Любая информация, полученная нами от клиентов или из иных источников, не подлежит разглашению.
        </p>
      </div>
      <div class="principle__item pr-item">
        <div class="pr-item__icon">
          <svg class="">
            <use xlink:href="img/sprite.svg#dia-icon"></use>
          </svg>
        </div>
        <h4 class="pr-item__title">Ценность каждого</h4>
        <p class="pr-item__text">
          Доброжелательные отношения считаем очень важными на всех уровнях и этапах взаимодействия. Гордимся
          доверительными и уважительными отношениями с клиентами и сотрудниками!
        </p>
      </div>
      <div class="principle__item pr-item">
        <div class="pr-item__icon">
          <svg class="">
            <use xlink:href="img/sprite.svg#qual-icon"></use>
          </svg>
        </div>
        <h4 class="pr-item__title">Порядочность</h4>
        <p class="pr-item__text">
          Делаем свою работу правильно, «на совесть», самым наилучшим образом, чтобы гордиться ею и быть образцом для
          коллег по рынку.
        </p>
      </div>
    </div>
  </div>
</section>