<section class="stages">
  <div class="container">
    <h2 class="title centered stages__title">этапы заключения сделки</h2>
    <ul class="list-reset stages__container">
      <li class="stages-item stages__item">
        <div class="stages-item__content">
          <h3 class="stages-item__title">Поиск объекта</h3>
          <p class="stages-item__desc">
            сотрудники агентства изучают рынок недвижимости и&nbsp;ищут подходящие объекты
          </p>
        </div>
      </li>
      <li class="stages-item stages__item">
        <div class="stages-item__content">
          <h3 class="stages-item__title">Обсуждение условий</h3>
          <p class="stages-item__desc">
            проводятся переговоры с&nbsp;продавцом по&nbsp;условиям продажи, стоимости и&nbsp;срокам
          </p>
        </div>
      </li>
      <li class="stages-item stages__item">
        <div class="stages-item__content">
          <h3 class="stages-item__title">Подписание основного договора</h3>
          <p class="stages-item__desc">
            заключается основной договор купли-продажи у&nbsp;нотариуса или в&nbsp;простой письменной форме.
          </p>
        </div>
      </li>
      <li class="stages-item stages__item">
        <div class="stages-item__content">
          <h3 class="stages-item__title">Проведение взаиморасчетов</h3>
          <p class="stages-item__desc">
            выбирается и&nbsp;согласуется форма расчета, проводится расчет.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>