html {
  box-sizing: border-box;
  font-size: calc(100vw / 144);

  @include mobile {
    font-size: calc(100vw / 42);
  }
}

html,
body {
  // scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
  background-color: #fff;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

::-webkit-scrollbar {
  width: 0;
}

.text-row {
  display: block;
}

.btn {
  display: inline-block;
  text-align: center;
  position: relative;
  z-index: 2;
  padding: 1.8rem 3.2rem;
  color: #FFF;
  font-family: "Montserrat";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
  transition: background-color .3s ease-out;

  &--yel {
    background-color: var(--accent-color);

    @include hover {
      background-color: #EFD798;
    }
  }
}

.burger-menu {
  width: 9.7rem;
  height: 3.9rem;

  svg {
    width: 100%;
    height: 100%;
  }
}

.title {
  margin: 0;
  color: #000;
  font-family: "Forum";
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 143.52%;
  text-transform: uppercase;

  &--wh {
    color: #fff;
  }

  @include mobile {
    font-size: 2.4rem;
  }
}

.progress {
  position: fixed;
  z-index: 10;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1.4rem;
  background: rgba(221, 221, 221, 0.36);

  @include mobile {
    display: none;
  }

  &__line {
    background: rgba(211, 188, 128, 0.55);
    width: 100%;
    height: var(--progress-height);

    will-change: height;
  }
}

.neva-wrapper {
  position: relative;
  z-index: 2;
  border-radius: 6rem;
  box-shadow: 0 -2.9rem 7.15rem 0 rgba(223, 223, 223, 0.34), 0 -2.9rem 7.15rem 0 rgba(223, 223, 223, 0.46);
  box-shadow: 0px -2.9rem 7.6rem 0px rgba(239, 239, 239, 0.52), 0px 2.9rem 7.15rem 0px rgba(223, 223, 223, 0.46);
  background-color: #fff;
  background-image: url('./../img/neva/city-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
}


.clouds {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  animation: clouds 40s linear infinite;
  display: flex;

  &__pause {
    animation-play-state: paused;
  }
}

@keyframes clouds {
  from {
    transform: translate(-100%, 0);
  }

  to {
    transform: translate(0, -25%);
  }

}

.logo {
  display: flex;
  align-items: center;
  gap: 2rem;

  @include mobile {
    gap: 1.2rem;
  }

  &__col {
    display: flex;
    flex-direction: column;
  }

  &__name {
    color: #fff;
    font-family: "Iowan Old Style";
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.094rem;

    @include mobile {
      font-size: 2.3rem;
      letter-spacing: -0.04rem;
    }
  }

  &__desc {
    color: #FFF;
    font-family: "Inter";
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.224rem;

    @include mobile {
      font-size: 1.2rem;
      letter-spacing: 0.12rem;
    }
  }

  img {
    width: 8rem;
    height: 8rem;

    @include mobile {
      width: 5rem;
      height: 5rem;
    }
  }
}

.just-validate-error-label {
  display: none;
}

.just-validate-error-field {
  box-shadow: 0 0 .4rem rgba(255, 0, 0, 0.524);
  border: .1rem solid rgb(255, 110, 110) !important;

  &+span {
    color: rgb(164, 46, 46) !important;

  }
}

.rellax {
  transition: transform .5s linear;
}

.policy-text {
  padding: 2rem 0 18rem;

  @include mobile {
    padding-top: 0;
    padding-bottom: 9rem;
  }

  h2 {
    text-align: center;
    margin: 0;
    margin-bottom: 6rem;
    color: #000;
    font-family: "Montserrat";
    font-size: 3.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 144.795%;
    font-variant: small-caps;

    @include mobile {
      font-size: 1.9rem;
      margin-bottom: 4.4rem;
    }
  }

  article {
    &:not(:last-child) {
      margin-bottom: 7rem;

      @include mobile {
        margin-bottom: 4rem;
      }
    }

    h3 {
      margin: 0;
      margin-bottom: 4rem;
      text-align: center;
      color: #000;
      font-family: "Montserrat";
      font-size: 2.7rem;
      font-style: normal;
      font-weight: 600;
      line-height: 144.795%;
      text-transform: uppercase;

      @include mobile {
        font-size: 1.6rem;
        margin-bottom: 1.6rem;
      }
    }

    p,
    li {
      margin: 0;
      color: #000;
      font-family: "Montserrat";
      font-size: 2.2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 144.795%;
      font-variant: small-caps;

      @include mobile {
        font-size: 1.3rem;
      }
    }
  }
}